body {
	background-color:#B0E0E6;
}

.flex-container{
	display:flex;
	flex-direction:row;
	
}

.column {
	width: 33%;
	background-color:#E0FFFF;
	font-family:Verdana;
	text-align: center;
	margin: 30px;
	
}

.column2{
	width:60%;
	background-color:#E0FFFF;
	font-family:Verdana;
	margin:30px;
	padding:30px;
}

.flex2{
	display:flex;
	justify-content:center;
	
	

}

.box{
	width:30%;
	background-color:#E0FFFF;
	font-family:Verdana;
	margin: 10px;
	padding:10px;

}



.tab {
	text-indent:50px;

}
.title{
	text-align:center;
}